<div th:replace="/fragments/headStyleSheets"></div>
<div th:replace="/fragments/navBar"></div>
    <div class="container formStyle mx-auto mt-5">
        <h2 th:text="${session.id}"></h2>
        <form method="POST" class="row d-inline-flex justify-content-center p-3" th:action="@{/saveShoppingList}" th:object="${shoppingList}">
            <div class="row d-inline-flex m-2 p-2">
                <input class="form-control form-control-lg w-3" th:field="*{ingredientName}" type="text" placeholder="ingredientName">
            </div>
            <div class="row m-2 p-2">
                <input class="form-control form-control-lg w-3" th:field="*{amount}" type="text" placeholder="amount">
            </div>
            <div class="row m-2 p-2">
                <input class="form-control form-control-lg w-3" th:field="*{units}"type="text" placeholder="units">
            </div>
            <div class="row m-2 p-2">
            </div>
            <div><input type="hidden" name="author" th:value="${session.id}"></div>
            <div class="row m-2 p-2">
                <button type="submit" class="btn btn-primary mx-auto">Create shoppingList</button>
            </div>
            <div><input type="hidden" th:field="*{id}"></div>
        </form>
    </div>

    <div th:replace="fragments/footer"></div>