<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous" />
    <link href="/styling.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="container formStyle mx-auto mt-5">
      <form
        method="POST"
        th:action="@{/reset}"
        class="row g-3 d-inline-flex justify-content-center p-3">
        <div class="row col-auto">
          <h2 class="mx-auto text-white">Account Lookup</h2>
        </div>
        <div class="row m-2 p-2">
          <p style="color: red" errors="*{email}"></p>
          <input
            class="form-control form-control-lg"
            name="email"
            type="email"
            placeholder="Email Address" />
        </div>
        <div class="row mt-4 p-3">
          <button type="submit" class="btn btn-primary mx-auto" value="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
    <div th:replace="fragments/footer"></div>
  </body>
</html>
